@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --gradient-glass: linear-gradient(145deg, hsl(0 0% 100% / 0.1) 0%, hsl(0 0% 100% / 0.05) 100%);
  /* --background: 240 10% 4%; */
  --background: #bada55;
  --foreground: 0 0% 98%;
  --card : #121217;
  --color-news-accent: 193 95% 68%;
  --color-news-primary: 269 100% 66%;
  --color-muted-foreground: #666666;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--color-muted-foreground);
  --color-card : var(--card);
  --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

.glass {
  background: var(--gradient-glass);
  backdrop-filter: blur(20px);
  border: 1px solid hsl(0 0% 100% / 0.1);
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg,
        hsl(var(--color-news-primary)),
        hsl(var(--color-news-accent)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* fallback */
  }
}

@utility container {
  padding : 20px;
  max-width : 1080px;
  margin : auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
